psutil
aiofiles
aiohttp
aiosignal
beautifulsoup4
bs4
spotipy
python-dotenv
requests
ffmpeg-python
uvloop==0.21.0
aiocron
croniter
wget
numpy
opencv-python-headless
pymediainfo
attrify
gitpython
httpx[http2]==0.27.2
ntgcalls
py-tgcalls==2.0.6
gpytranslate
gtts
pytimeparse
regex
Pillow
pytz
opencv-python
meval
aiorun
telegraph
aiosqlite
aioshutil
unidecode
speechrecognition
browser-cookie-3x
tgcrypto-pyrofork
qrcode
geopy
cloudscraper25
git+https://github.com/herobot19/pyrogram_heroo
git+https://github.com/google-gemini/generative-ai-python.git@main
git+https://github.com/memex2711/hydrogram@dev
yt-dlp[default]==2025.12.8
